# github
!.github

# editors
*~
*.sln
*.vcxproj
*.vcxproj.filters
.vscode/
.idea/

# MacOS
.DS_Store

# cpp
_build/
_temp/

# js
node_modules/
npm-*.log*
ts/

# python
__pycache__/
*.egg-info/
build/
dist/

#dart
sdk/dart/.dart_tool/
sdk/dart/.packages
sdk/dart/pubspec.lock
sdk/dart/build/
sdk/dart/doc/api/
sdk/dart/.gitignore
sdk/dart/test/test.dart

# csharp
sdk/csharp/SymbolSdk/.idea
sdk/csharp/SymbolSdk/bin
sdk/csharp/SymbolSdk/obj
sdk/csharp/SymbolSdk.sln
sdk/csharp/SymbolSdk.sln.DotSettings.user
sdk/csharp/ConsoleApp
sdk/csharp/Test/bin
sdk/csharp/Test/obj
sdk/csharp/TestByNuget
test.ts

# php
sdk/php/test.php
sdk/php/symbol-sdk/vendor
sdk/php/.phpunit.result.cache
sdk/php/src/t.php

.mono
testGenarate.py
sdk/php/src/index.php
