# github
!.github

# editors
*~
*.sln
*.vcxproj
*.vcxproj.filters
.vscode/
.idea/

# MacOS
.DS_Store

# cpp
_build/
_temp/

# js
node_modules/
npm-*.log*
ts/

# python
__pycache__/
*.egg-info/
build/
dist/

sdk/dart/symbol_sdk/.dart_tool/
sdk/dart/symbol_sdk/.packages
sdk/dart/symbol_sdk/pubspec.lock
sdk/dart/symbol_sdk/build/
sdk/dart/symbol_sdk/doc/api/
sdk/dart/symbol_sdk/.gitignore